<!--
Fichero base que sirve de esqueleto para el resto de pestañas. Probablemente sea necesaria
una base para cada tipo de usuario, ya que tendrá un menú distinto, aunque por ahora sólo
contemplaremos el perfil de administrador.
-->
<html>
  <head>
    <title>NihilistCipher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Cargamos la librería uikit-->
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.docs.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.min.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/uikit.tema1.css"/>
    <!--Cargamos la librería JQuery-->
    <script src="/static/jquery.js"></script>
    <!--Cargamos la librería JavaScript de uikit-->
    <script src="/static/js/uikit.min.js"></script>

  </head>


  <body>

   <!-- Div principal de toda la pantalla -->
   <div class="uk-container uk-container-center uk-margin-top ">

     <h1>Nihilist Cipher</h1>

     Pequeño programa para el esutdio del cifrado Nihilista ofrece una pequeña interfaz con la que poder realizar
     cifrados y descifrados con clave y su análisis mediante el estudio del índice de coincidencia y el uso de una tabla de sustitución.

     <br><br>
     <a class="uk-button" href="/use">Uso</a>
     Para cifrar y descifrar mensajes.

     <br><br>
     <a class="uk-button" href="/atack">Análisis</a>
     Para realizar el análisis.

     <br><br>
     <blockquote>
       <p>Autores:</p>
       <small>Michaelle Lopez Eudaric</small>
       <br>
       <small>Juan Antonio Fernández Sánchez</small>
     </blockquote>


  <!-- Footer -->
  <div class=" uk-slider-container">
    <div class="uk-container uk-container-center uk-text-center">
        <br>
        <br>
                 <div class="uk-panel">
                     <p>Granada @ Noviembre 2015</a>
                     </p>
                 </div>
        <br>
        <br>
  </div>
  </div>  <!-- fin footer -->

  </div><!--Fin del primer div-->


  </body>


</html>
